.denomination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item {
  background-color: #585076;

  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}
.amount {
  color: #c7d2fe;
  background-color: #585076;
  border-color: #c4c4c4;
  padding: 10px;
}
